body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

.footer-wave {
  margin-top: 100px;
  line-height: 0;
}

.footer-wave svg {
  display: block;
  width: 100%;
  height: 50px;
}


.footer {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-line {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.footer-logo {
  height: 100px;
  object-fit: contain;
}


.footer-left {
  flex: 1.5;
  min-width: 280px;
  margin-right: 30px;
  margin-top: 30px;
}

.footer-left h2 {
  font-size: 22px;
  font-weight: bold;
  font-family: Poppins;
}


.description {
  margin: 15px 0;
  font-size: 16px;
  color: #cfcfcf;
  line-height: 1.6;
  font-family: Roboto;
}

.gst-section {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.gst {
  font-size: 15px;
  color: #F7931E ;
}

.gold-btn {
  background-color: #F7931E;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 6px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.footer-links {
  display: flex;
  gap: 60px;
  flex: 1;
  min-width: 280px;
  margin-top: 30px;
}

.footer-column h3 {
  color: white;
  font-size: 18px;
  margin-bottom: 15px;
  font-family: Poppins;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li a {
  margin-bottom: 10px;
  color: #ddd;
  font-size: 15px;
  font-family: Roboto;
  text-decoration: none;
}

/* Bullet styling for product list */
.footer-column ul.product-list {
  list-style: disc;
  padding-left: 18px;
}

.footer-column ul.product-list li {
  margin-bottom: 8px;
}

.footer-column ul.product-list li a {
  color: #ddd;
  font-size: 15px;
  text-decoration: none;
}


.divider {
  border: 0;
  border-top: 1px solid #444;
  margin: 30px 0 20px 0;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  color: #ccc;
}


  @media (max-width: 768px) {
      .footer-content {
        flex-direction: column;
        gap: 40px;
      }

      .footer-bottom {
        flex-direction: column;
        text-align: center;
      }

      .footer-left h2 {
        font-size: 18px;
      }

      .description {
        font-size: 14px;
      }

      .footer-column h3 {
        font-size: 16px;
      }

      .footer-column li {
        font-size: 13px;
      }

      .gold-btn {
        font-size: 13px;
        padding: 6px 12px;
      }
    }

    @media (max-width: 480px) {
      .logo-line {
        flex-direction: column;
        align-items: flex-start;
      }

      .footer-logo {
        height: 36px;
      }

      .footer-left h2 {
        font-size: 16px;
      }

      .footer {
        padding: 30px 15px;
      }

      .gst {
        font-size: 13px;
      }

      .footer-column {
        flex: 1 1 100%;
      }
    }